.button {
  height: 30px;
  width: 100px;
  margin: 10px auto;
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 0;
  border: 2px solid #494949;
  display: inline-block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.button:hover {
  color: #ffffff;
  background: #f6b93b;
  border-color: #f6b93b;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1500px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
  background-color: #06a8f9;
  position: relative;
}

@media (min-wdith: 768px) and (min-height: 1024px) {
  .wrapper {
    max-height: 100vh;
  }
}

.menu {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  height: 243px;
  max-width: 1000px;
  padding-top: 10px;
}

.menu__title {
  font-size: 28px;
  margin-bottom: 5px;
}

.menu__instruction {
  text-decoration: underline;
  margin-bottom: 10px;
}

.menu__container, .menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  border: 1px solid black;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 568px) {
  .menu__container, .menu .container {
    height: 60px;
  }
}

.menu__container .container__single, .menu .container .container__single {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 50%;
}

@media (min-width: 568px) {
  .menu__container .container__single, .menu .container .container__single {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}

.menu__container .container__single--last, .menu .container .container__single--last {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 568px) {
  .menu__container .container__single--last, .menu .container .container__single--last {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}

.menu__container .container__single .container__title, .menu .container .container__single .container__title {
  font-size: 20px;
  font-weight: normal;
}

.menu__container .container__single .container__content, .menu .container .container__single .container__content {
  font-size: 16px;
}

.main-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 480px;
  width: 100%;
  max-width: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .main-game {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .main-game {
    height: 600px;
    margin-top: 50px;
  }
}

@media (min-width: 1024px) and (min-height: 1024px) {
  .main-game {
    height: calc(100vh - 243px - 50px);
  }
}

.main-game__single-item {
  -ms-flex-preferred-size: calc(100% / 4 - 10px);
      flex-basis: calc(100% / 4 - 10px);
  height: calc(100% / 6 - 10px);
  margin: 5px;
  border: 2px solid black;
  border-radius: 5%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 568px) {
  .main-game__single-item {
    -ms-flex-preferred-size: calc(100% / 6 - 10px);
        flex-basis: calc(100% / 6 - 10px);
    height: calc(100% / 4 - 10px);
  }
}

.main-game__single-item--active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main-game__single-item--green {
  background-color: green;
}

.main-game__single-item .item__background-img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main-game__single-item .item__main-img {
  height: 95%;
  width: 95%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  margin-left: calc(5% / 2);
  margin-top: calc(5% / 2);
}

.game-result {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.game-result--active {
  display: block;
}

.game-result__container {
  display: none;
  position: absolute;
  height: 50%;
  width: 80%;
  background-color: snow;
  border: 8px double black;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-width: 568px) {
  .game-result__container {
    height: 260px;
    top: 25%;
  }
}

@media (min-width: 768px) {
  .game-result__container {
    height: 400px;
    top: 40%;
  }
}

@media (min-width: 812px) and (min-height: 375px) {
  .game-result__container {
    height: 250px;
    top: 30%;
  }
}

@media (min-width: 1024px) {
  .game-result__container {
    height: 500px;
    top: 50%;
  }
}

.game-result__container--active {
  display: block;
}

.game-result__container .game-result__icon {
  color: white;
  height: 30px;
  width: 30px;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: -40px;
  right: -30px;
}

.game-result__container .game-result__description {
  padding-top: 20px;
  font-size: 24px;
  width: 90%;
  margin: 0 auto 10px auto;
}

@media (min-width: 1024px) {
  .game-result__container .game-result__description {
    font-size: 34px;
  }
}

.game-result__container .game-result__moves {
  font-size: 18px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .game-result__container .game-result__moves {
    font-size: 24px;
  }
}

.game-result__container .game-result__moves--counter {
  font-weight: bold;
}

.game-result__container .game-result__time {
  font-size: 18px;
}

@media (min-width: 1024px) {
  .game-result__container .game-result__time {
    font-size: 24px;
  }
}

.game-result__container .game-result__time--minutes, .game-result__container .game-result__time--seconds {
  font-weight: bold;
}

.game-result__container .game-result__img {
  height: 100px;
  width: 100px;
  margin-top: 30px;
}

@media (min-width: 568px) {
  .game-result__container .game-result__img {
    height: 60px;
    width: 60px;
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .game-result__container .game-result__img {
    height: 150px;
    width: 150px;
    margin-top: 30px;
  }
}

@media (min-width: 812px) and (min-height: 375px) {
  .game-result__container .game-result__img {
    height: 60px;
    width: 60px;
    margin-top: 5px;
  }
}

@media (min-width: 1024px) {
  .game-result__container .game-result__img {
    height: 200px;
    width: 200px;
    margin-top: 30px;
  }
}

.game-result__container .game-result__button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 1024px) {
  .game-result__container .game-result__button {
    bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */