@import "_mixins.sass"
    
*
    box-sizing: border-box
    margin: 0
    padding: 0


.wrapper
    max-width: 1440px
    min-width: 320px
    margin: 0 auto
    font-family: 'Playfair Display', serif

.menu
    text-align: center
    margin: 10px auto
    width: 90%
    max-width: 1000px
    &__title
        font-size: 28px
        margin-bottom: 5px
    &__instruction
        text-decoration: underline
        margin-bottom: 10px
    &__container,.container
        display: flex
        flex-direction: row
        height: 100px
        overflow: hidden
        flex-wrap: wrap
        margin-top: 5px
        border: 1px solid black
        @include mediaQ(568px)
            height: 60px
        .container__single
            flex-basis: 50%
            height: 50%
            @include mediaQ(568px)
                flex-basis: 33.33%
                height: 100%
            &--last
                flex-basis: 100%
                @include mediaQ(568px)
                    flex-basis: 33.33%
            .container__title
                font-size: 20px
                font-weight: normal
            .container__content
                font-size: 16px
                
.main-game
    display: flex
    flex-direction: row
    height: 480px
    width: 100%
    max-width: 1000px
    flex-wrap: wrap
    margin: 0 auto
    position: relative
    overflow: hidden
    @include mediaQ(768px)
        margin-top: 30px
    @media (min-width: 768px) and (min-height: 1024px)
        height: 600px
        margin-top: 50px
    @media (min-width: 1024px)
        height: 700px
    &__single-item
        flex-basis: calc(100% / 4 - 10px)
        height: calc(100% / 6 - 10px)
        margin: 5px
        border: 1px solid black
        border-radius: 5%
        transform-style: preserve-3d
        transition: all 0.5s ease
        @include mediaQ(568px)
            flex-basis: calc(100% / 6 - 10px)
            height: calc(100% / 4 - 10px)
        &--active
            transform: rotateY(180deg)
        &--green
            background-color: green
        .item__background-img
            height: 100%
            width: 100%
            border-radius: 5%
            backface-visibility: hidden
        .item__main-img
            height: 95%
            width: 95%
            position: absolute
            top: 0
            left: 0    
            border-radius: 5%
            backface-visibility: hidden
            transform: rotateY(180deg)
            margin-left: calc(5% / 2)
            margin-top: calc(5% / 2)
            
            
